.wrapper {
  width: calc(100% - 20px);
  margin: 10px;
  padding: 5px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid var(--light-blue);
  color: var(--light-blue);
}

.inProgress {
  background-color: var(--light-blue);
  color: var(--dark-blue);
  border-color: var(--dark-blue);
}

.inReady {
  border-color: var(--dark-blue);
  color: var(--dark-blue);
}

.checkReady {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  display: block;
  position: relative;
  cursor: pointer;
  border: 1px solid var(--candy-pink);
}

.readyTodo {
  background-color: var(--candy-pink);
}