.container {
  width: 500px;
  margin: auto;
  padding: 15px;
  border: 1px solid var(--light-blue);
}

.add-item-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}